body {
  background-image: url(imagenes/fondo.jpg
);
  background-repeat: no-repeat;
  background-size: cover;
}

.button-51 {
  background-color: transparent;
  border: 1px solid #de00c7;
  box-sizing: border-box;
  color: #00132C;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: rgb(201, 189, 240);
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: rgb(248, 164, 244);
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}

.Navbar {
  display: flex;
  flex-direction: row;
  color: black;
  align-items: right;
  justify-content: space-between;
  brac
}

.Navbar img {
  display: flex;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu-text {
  display: flex;
  flex-direction: row;
  width: 150px;
  color: black;
  align-items: right;
  margin-left: 500px;
  padding: 30px 0;
  margin: 5px;
  margin-top: 15px;


}

/*class description*/
.description h1{
  text-align: center
  
}